extends layout

block content
  .container
  table(class='table table-bordered table-hover table-striped')
    thead
      tr(class='table-primary') 
        th Name 
        th Sky Card 
        th Addr
    tbody
      for order in orders
        tr
          td 
            hello #{order.oskyname}
          td 
            hello #{order.oskycard}
          td 
            hello #{order.oskyaddr1}
